<app-navbar></app-navbar>
<div class="container">
    <form action="">
        <label for="UserName">Username</label>
        <input type="text" name="UserName" id="username" required>
        <label for="Email">Username</label>
        <input type="text" name="UserName" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="pwd" required><br>
        <input type="submit" value="Login" id="loginbtn">
        <!-- <button id="loginbtn">Login</button> -->
    </form>
</div>
