<app-navbar></app-navbar>
<div class="container">
    <form action="">
        <label for="UserName">Username</label>
        <input type="text" name="UserName" id="username" required>
        <label for="Email">Email</label>
        <input type="email" name="Email" id="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="pwd1" required>
        <label for="confirmpwd"> Confirm Password</label>
        <input type="password" name="confirmpwd" id="pwd2" required><br>
        <span class="btns"><button id="regbtn">Register</button>
        <button id="reset" action="reset">Reset</button></span>
    </form>
</div>